* {
  margin: 0px;
  padding: 0px;
}
.cont-1 {
  display: flex;
  height: 40vh;
  border: 1px solid tomato;
  margin: 10px;
}
.cont-2 {
  display: flex;
  height: 40vh;
  border: 1px solid tomato;
  margin: 10px;
}
.img {
  width: 200px;
  height: 310px;
  margin-right: 10px;
}
.food-title {
  padding-top: 10px;
  margin-bottom: 10px;
}
.btn {
  padding: 8px;
  background-color: blue;
  color: white;
  margin-top: 5px;
  border: none;
}

/* for small device */
@media screen and (max-width: 576px) {
  .cont-1, .cont-2 {
    flex-direction: column;
    height: 115vh;
    margin: 20px;
    padding: 20px;
  }
  .img {
    width: 100%;
  }
}
