*{
    margin: 0px;
    padding: 0px;
}
.row{
display: grid;
grid-template-columns: repeat(2,1fr);
}
.single-box{
    background-color: rgb(241, 34, 138);
    height: 100vh;
    color: white;
    margin-right: 5px;
}
.single-box2{
    height: 49.2vh;
    background-color: rgb(233, 163, 35);
    margin-bottom: 5px;
    color: white;
}
.multi-box2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.single-box3{
    background-color: purple;
    margin-right: 5px;
    height: 50vh;
    color: white;
}
.single-box4{
    background-color: rgb(98, 96, 98);
    height: 50vh;
    color:white;
}
/* media query for small device */
@media screen and (max-width:576px) {
    .row, .multi-box2{
        grid-template-columns: repeat(1,1fr);
    }
    .single-box, .single-box2, .single-box3, .single-box4{
        height: 25vh;
        margin-right: 7px;
        margin-left: 7px;
        margin-bottom: 7px;
    }

    
}