.country{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.img{
    width: 350px;
    height: 200px;
}
.visited{
    background-color: rgb(104, 102, 101);
}